<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>GM工具</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<nav>
<span><a title="道具管理" href="/itemanage">道具管理</a></span>
</nav>
</nav>

<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>