<div class="dash_board_row_item_side" id="item_list">
                <ul style="height: 20px;"></ul>
                <ul class="list-group">
                    <li class="list-group-item active">账号管理</li>
                    <li class="list-group-item"><a href="/logout">安全退出</a></li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">玩家管理</li>
                    <li class="list-group-item"><a href="/query_people">玩家查询</a></li>
                    <li class="list-group-item"><a href="/player_punish">玩家惩罚</a></li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">道具管理</li>
                    <li class="list-group-item"><a href="/giveitem">发放道具</a></li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">游戏管理</li>
                    <li class="list-group-item"><a href="/announcement">公告查询</a></li>
                    <li class="list-group-item"><a href="/publish_announcement">发布公告</a></li>
                    <li class="list-group-item"><a href="/reload_script">重新加载脚本</a></li>
                </ul>
            </div>

            <div class="dash_board_row_item_space"><ul style="width: 20px;"></ul></div>

            <!--
            <iframe  class="dash_board_row_item_main" src="/welcome" id="frame_content"  frameBorder="0"  marginheight="0" marginwidth="0" width="85%"  height="100%" scrolling="no" name="frame_content" onLoad="javascript:auto_height()"> </iframe>
            -->
        </div>